p {
  margin: 0;
}
img {
  display: block;
  width: 280px;
  height: 180px;
}
a {
  text-decoration: none;
  color: inherit;
}
.gallery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.photo-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  gap: 5px;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;

  padding: 10px 0;
  background-color: rgba(57, 45, 193);
}
.search-form input {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.search-form--wrapper {
  position: relative;
}
.search-form button {
  position: absolute;
  right: 2px;
  top: 2px;
  height: 26px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgba(223, 222, 228, 0.705);
}

.load-more {
  font-weight: 500;
  width: 110px;
  height: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgb(97, 84, 240);
  color: #fff;
}
